<main>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="auth-section-bg">
        <div class="container">
            <div class="form-auth">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmitResetForm()">
                    <img class="mb-2 logosvg" src="assets/images/IPSlogo-login.svg" alt="">
                    <p>Viper Management Solutions ®</p>
                    <h2 class="h3 eye-mb fw-normal">Reset Password</h2>
                    <div class="form-floating eye-mb">
                        <input [type]="passwords" formControlName="password" id="password" #password
                            class="form-control login-tf-border-height eye-mb1" placeholder="Password"
                            [ngClass]="{ 'is-invalid': submitted && lf['password'].errors }">
                        <span (click)="onClick()" class=" form-eye">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show && ! lf['password'].errors"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show "></i>
                        </span>
                        <label for="floatingInput">New Password</label>
                    </div>
                    <div *ngIf="submitted && lf['password'].errors" class="invalid-feedback mt-n15px">
                        <div *ngIf="lf['password'].errors['required']">Password is required</div>
                        <div *ngIf="lf['password'].errors['invalidMsg']">
                            {{lf['password'].errors['invalidMsg']}}
                        </div>
                    </div>
                    <div class="form-floating">
                        <input [type]="passwords" formControlName="confirmPassword" onPaste="return false"
                            class="form-control login-tf-border-height eye-mb1" placeholder="Password"
                            [ngClass]="{ 'is-invalid': submitted && lf['confirmPassword'].errors }">
                        <span (click)="onClick()" class=" form-eye">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show && ! lf['confirmPassword'].errors"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                        </span>
                        <label for="floatingPassword">Confirm Password</label>
                    </div>
                    <div *ngIf="submitted && lf['confirmPassword'].errors" class="invalid-feedback mt-n10px">
                        <div *ngIf="lf['confirmPassword'].errors['required']">Confirm Password is required</div>
                        <div *ngIf="lf['confirmPassword'].errors['confirmedValidator']">
                            Password and ConfirmPassword does not match
                        </div>
                    </div>
                    <button type="submit" class="mt-3 w-100 btn btn-lg btn-primary mb-2" type="submit">Submit</button>
                    <div class="row" *ngIf="showMsg">
                        <div class="col-xs-12">
                            <p class="alert alert-success">
                                <strong>Password is changed successfully</strong>
                            </p>
                        </div>
                    </div>
                    <div class="text-end"><a [routerLink]="['/auth/login']">Back to Login?</a></div>
                </form>
            </div>
        </div>
    </section>
</main>